{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Update
{% endblock %}


{% block content %}
    {% include 'blog/delete_confirum.html' %}
    <div class="card">
    <div class="card-header">
        <p class="fs-3">
            <span class="text-primary">Update</span>
        </p>
    </div>
    <div class="card-body">
        <form method="POST" action="{% url "update" blog.id %}" enctype="multipart/form-data".>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-outline-danger float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Delete
</button>
        </form>
    </div>
    </div>
{% endblock %}